@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<section class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class=" col-md-12 text-content light">
					<h1>Blog</h1>
					<div class="breadcum-items">
						<span class="item"><a href="index.html">Home /</a></span>
						<span class="item colored">Blog</span>
					</div>
				</div><!--text-content-->
			</div>
		</div>
	</div>
</section>
<section class="post-grid padding-medium">
	<div class="container">
		<div class="row">

			<div class="d-flex flex-wrap">
				<div class="col-md-4 post-item mb-5">
					<a href="#"><img src="~/DesignHomePage/images/postitem1.jpg" alt="food3" class="postImg"></a>

					<div class="content pt-4">
						<div class="meta-date light light">
							<span class="date">10</span>
							<span class="month">Jan</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem2.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">15</span>
							<span class="month">Jan</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem3.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">20</span>
							<span class="month">Jan</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem4.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">23</span>
							<span class="month">Jan</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem5.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">10</span>
							<span class="month">Feb</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem6.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">12</span>
							<span class="month">Feb</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem7.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">20</span>
							<span class="month">Feb</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem8.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">25</span>
							<span class="month">Feb</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
				<div class="col-md-4 post-item mb-5">
					<a href="#">
						<img src="~/DesignHomePage/images/postitem1.jpg" alt="food3" class="postImg">
					</a>
					<div class="content pt-4">
						<div class="meta-date light">
							<span class="date">29</span>
							<span class="month">Feb</span>
						</div>
						<h3 class="post-title"><a href="single-blog.html">Maintain a Perfect Structure After Workout</a></h3>
					</div>
				</div><!--post-item-->
			</div>
		</div>
	</div>
</section>