@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}




<section class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class=" col-md-12 text-content light">
					<h1>Our Trainer</h1>
					<div class="breadcum-items">
						<span class="item"><a href="index.html">Home /</a></span>
						<span class="item colored">Trainers</span>
					</div>
				</div><!--text-content-->
			</div>
		</div>
	</div>
</section>
<section class="our-trainers pb-60">
	<div class="container">
		<div class="row mt-5 pt-5">
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/david.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3 mb-3">
					<h4><a href="#">David Williams</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/rosy.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Rosy Rivera</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/matt.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Matt Stonie</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/sofia.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Sofia Lauren</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>

				</div><!--text-content-->
			</div><!--col-md-3-->
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/david.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3 mb-3">
					<h4><a href="#">David Williams</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/rosy.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Rosy Rivera</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/matt.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Matt Stonie</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<div class="col-md-3  mt-5">
				<figure>
					<a href="#"><img src="~/DesignHomePage/images/sofia.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Sofia Lauren</a></h4>
					<span class="designation colored-grey">Body Builder Coach</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>

				</div><!--text-content-->
			</div><!--col-md-3-->

		</div>

	</div>
</section>